body {
    background:#E0FFFF;
    font-family:Arial, Helvetica, sans-serif;
    
    


}
.assignments {
    display:flex;
    flex-wrap:wrap;
}
.assignment {

    width:22%;
    padding:10px;
    margin:10px;
    padding: 20px 10px;
    background:#99A638;
    border-radius:5px;
   



}
.assignment img{
    width:200px;
    margin: 10px;
    border:2px solid #707326
    display block;
    margin:auto;
    

}
.assignment img:hover{
    border:4px solid #3E4012;
}
h1 {
    color:#4F5902
   text-align center;

}
h2{
    text-align:center;
}
a {
    text-decoration:none;
    color:#1F1E26;
}
a:hover{
    color:#3E4012;
}